---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

<body class="min-h-screen bg-zinc-200 font-sans text-primary antialiased dark:bg-primary">
  <div class="flex min-h-screen flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </div>
  </body>
</html>
